body {
  background-color: white !important;
}

.App {
  text-align: center;
}

.fontcolor {
  color: white;
}

.home {
  display: block;
  margin: 50px;
}

.home img {
  width: 100px;
}

/* NavBar */

.navlogo-margin {
  margin-right: 10px;
}

.user-margin {
  margin-right: 10px;
}

.buttons-margin {
  margin-right: 10px;
}

/* Categories */

.category-add {
  height: 100px;
  width: 100px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  position: sticky;
}

.category-add:hover {
  transform: translateY(-5px);
}

.category-add img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.category-container {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  height: 150px;
  width: 50vw;
  padding: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
  border-style: solid;
  border-color: black;
  border-radius: 10px;

  overflow: scroll;
  scrollbar-width: none;
}

.card-block {
  height: 100px;
  width: 100px;
  transition: all 0.2s ease-in-out;
  border-radius: 50% !important;
  text-align: center;
}

.card-block:hover {
  transform: translateY(-5px);
  box-shadow: none;
}

.card-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.center {
  text-align: center;
}
