body {
  background-color: white !important;
}

.App {
  text-align: center;
}

.fontcolor {
  color: white;
}

.home {
  display: block;
  margin: 50px;
}

.home img {
  width: 100px;
}

/* NavBar */

.navlogo-margin {
  margin-right: 10px;
}

.user-margin {
  margin-right: 10px;
}

.buttons-margin {
  margin-right: 10px;
}

/* Categories */

.category-add {
  height: 100px;
  width: 100px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  position: sticky;
  padding: 10px;
  background-color: white;
}

.category-add:hover {
  transform: translateY(-5px);
}

.category-add img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.category-container {
  display: flex;
  overflow-x: scroll;
  text-align: center;
  height: 150px;
  width: 50vw;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 10px;
  overflow-y: hidden;
  scrollbar-width: none;
  justify-content: space-between;
}

.card-block {
  height: 100px;
  width: 100px;
  transition: all 0.2s ease-in-out;
  border-radius: 50% !important;
  text-align: center;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.card-block:hover {
  transform: translateY(-5px);
  box-shadow: none;
}

.card-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.center {
  text-align: center;
}

/* Recipe Detail */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.recipe-title {
  height: 100px;
  width: 1000px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Dancing Script", cursive;
}

.recipe-content-container {
  display: flex;
  width: auto;
  height: auto;
  margin-top: 20vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
}

.ingredients-container {
  display: flex;
  flex-flow: column;
  border-style: solid;
  border-radius: 10px;
  height: 500px;
  width: 300px;
  overflow-y: auto;
  scrollbar-width: none;
  text-align: center;
}

.ingredient-block {
  height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* Recipe Notepad */

.notepad {
  height: 500px;
  width: 70vw;
  margin-left: auto;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  text-align: start;
  box-shadow: 10px 10px 40px rgba(black, 0.15);
  border-radius: 0 0 10px 10px;
}

.top {
  top: 0;
  position: sticky;
  width: 100%;
  height: 50px;
  background: #333;
  border-radius: 5px 5px 0 0;
}

.paper {
  width: 100%;
  min-height: 60vh;
  padding: 35px 20px;
  background: repeating-linear-gradient(
    #f1ede9,
    #f1ede9 31px,
    #94acd4 31px,
    #94acd4 32px
  );
  font-family: "Dancing Script", cursive;

  line-height: 32px;
  outline: 0;
  font-size: 22px;
}

.centera {
  width: 300px;
  height: 500px;
}
