body {
  background-color: white !important;
}

.App {
  text-align: center;
}

.fontcolor {
  color: white;
}

.home {
  display: block;
  margin: 50px;
}

.home img {
  width: 100px;
}

/* Cards */

.scrolling-wrapper {
  overflow-x: auto;
}

.subtitle {
  font-size: 1.25em;
  opacity: 0.65;
}

.card-block {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border: none;
  background-position: center;
  background-size: cover;
  transition: all 0.2s ease-in-out !important;
  border-radius: 50% !important;
}

.card-block:hover {
  transform: translateY(-5px);
  box-shadow: none;
  opacity: 0.9;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
